extends layout

block content
    div
        div Total items: #{total}
        //just basic check, we will always have items from youtube though
        - if(items.length)
            //create a listview wrapper
            table.item-list
                tr
                    td 
                    td Họ Tên
                    td Năm sinh
                    td Nơi ĐKTT
                //foreach of the collected elements
                - items.forEach(function(item){
                    tr
                        //create a cell
                        td
                            img(src= item.photo)
                        td= item.name
                        td= item.yob
                        td= item.add
                    
                - })