<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  " >
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>
<div class="portlet-borderless-container" style="">
<div>
<style type="text/css">
.text_none2 {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #3175b9;
text-decoration: none;
line-height: 16px;
}
.text_detail {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #3175b9;
text-decoration: none;
line-height: normal;
padding-top: 5px;
}
/** Popup **/
.box_guiban {
position:fixed;
_position:absolute;
top:30px;
left:27%;
width:439px;
height:auto;
padding:8px;
background:#ffffff;
border:3px solid #4A4A4A;
z-index:10;
display:none;
_margin-top: expression(0 - parseInt(this.offsetHeight / 500) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
.error_display{
font-weight:bold;
color:#FF0000;
}
.tit_guiban {
background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
height:23px;
padding:4px 0 0 10px;
font-size:16px;
font-family:arial;
margin:0 0 15px 0;
vertical-align:bottom;
font-weight:bold;
color:WHITE;
}
.overlay {
display:none;
width:100%;
_width:1500px;
height:100%;
_height:2500px;
position:fixed;
_position:absolute;
top:0;
left:0;
background:#000;
filter:alpha(opacity=50);
-moz-opacity:.50;
opacity:.50;
z-index:5;
_overflow:hidden;
}
.sign_warning {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
border:#fadcdc solid 1px;
width:82%;
padding:8px;
padding-left:60px;
margin-bottom:10px;
font-size:13px;
display:none;
line-height:20px;
}
.error {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
width:82%;
padding:8px;
padding-left:120px;
margin-bottom:10px;
font-size:13px;
color:#FF0000;
width:200px;
}
.sign_success {
background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
width:60%;
padding:23px;
padding-left:120px;
margin-bottom:10px;
font-size:16px;
color:#3399FF;
font-weight:bold;
display:none;
line-height:20px;
}
.close_popup {
padding:23px;
display:none;
padding-left:40%;
}
.boder {
border: 1px solid #6ac0f6;
}
.bottom {
border:1px solid #DC9373;
}
.navnormal {
background:#FAEFD8 none repeat scroll 0 0;
font-size:10px;
padding:5px 0;
text-align:center;
}
.pnlTopView {
border-color:#CCCCCC #CCCCCC -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
margin-bottom:10px;
}
.pnlTopView .pnl-title {
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding:4px;
text-transform:uppercase;
}
.pnlTopView .pnl-title a {
color:#CD2027;
text-transform:uppercase;
}
.pnlTopView .pnl-content div.t {
border-bottom:1px solid #CCCCCC;
padding:6px 6px 6px 24px;
}
.pnlTopView .pnl-content div.t1 {
background-position:0 2px;
}
.pnlTopView .pnl-content div.t2 {
background-position:0 -38px;
}
.pnlTopView .pnl-content div.t3 {
background-position:0 -78px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -118px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -158px;
}
#footer_print {
background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
width:620px;
}
.copyright{
font-family:arial;
font-size:11px;
color:#FFFFFF;
line-height:15px;
padding:10px 10px 10px;
}

</style>
<form  method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value="" />
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1" />
<div class="ctn-center clearfix">
<div class="line-top">
    	<div class="line-bottom">
        	<div class="line-left">
            	<div class="line-right">
                	<div class="goc-left-top">
                    	<div class="goc-right-top">
                        	<div class="goc-left-bottom">
                            	<div class="goc-right-bottom">
                                	<div class="ct">
<ul class="title" style="margin:0px;">
                                    		<li><h6><a href="#">Đối tượng truy nã</a></h6></li>
                                    	</ul>
<div class="smallpage">
<div class='group1 clearfix'>

            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19436;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Cơ quan An ninh điều tra Bộ Công an bắt khẩn cấp, ra lệnh tạm giữ các đối tượng Nguyễn Thị Bích Trang, Nguyễn Duy Hưng</b></a>
&nbsp;<span color="gray">(12/09/2012)</span>
<div class="fon5">
<p style="text-align: justify;">Chiều 07/9/2012, Cơ quan An ninh điều tra Bộ Công an đã thực hiện Lệnh bắt khẩn cấp, ra lệnh tạm giữ Nguyễn Thị Bích Trang (sinh ngày 02/7/1977; chỗ ở hiện nay: Số 125/51A Âu Dương Lân, phường 2, quận 8, TP Hồ Chí Minh; nhân viên hành chính Công ty Cổ phần đầu tư và công nghiệp Tân Tạo) về hành vi &ldquo;Lợi dụng các quyền tự do dân chủ xâm phạm lợi ích của Nhà nước, quyền, ích hợp pháp của tổ chức, công dân&rdquo; theo Điều 258- Bộ Luật Hình sự.<br />&nbsp;</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19436;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>

            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19414;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Bắt giữ bị can Dương Chí Dũng, nguyên Cục trưởng Cục Hàng hải Việt Nam</b></a>
&nbsp;<span color="gray">(05/09/2012)</span>
<div class="fon5">
<p style="text-align: justify;">&nbsp; Bị can Dương Chí Dũng, đã bị khởi tố về tội &ldquo;Cố ý làm trái quy định của Nhà nước về quản lý kinh tế gây hậu quả nghiêm trọng&rdquo; theo điều 165, Bộ luật hình sự xảy ra tại Tổng công ty Hàng hải Việt Nam. <br />&nbsp;</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19414;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19386;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Đặng Văn Nhơn">
            				<img class="img160" src="/image/images?img_id=193861345690740048" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19386;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Đặng Văn Nhơn</b></a>
&nbsp;<span color="gray">(23/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Đặng Văn Nhơn<br />Năm sinh: 1987<br />Nơi ĐKTT: Thôn Viên Lang, Việt Tiến, Vĩnh Bảo, Hải Phòng<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Đặng Văn Tiệp<br />Họ và tên mẹ: Nguyễn Thị Mấy<br />Can tội: Trộm cắp tài sản<br />Quyết định truy nã số: 01<br />Ngày tháng năm ra quyết định: 12/12/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m65; Màu da: trắng; Tóc: bình thường; Lông mày: thưa; Sống mũi: thẳng;Dái tai: thẳng; Mắt: nhỏ.</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19386;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19385;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Tống Văn Cường">
            				<img class="img160" src="/image/images?img_id=193851345689982649" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19385;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Tống Văn Cường</b></a>
&nbsp;<span color="gray">(23/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Tống Văn Cường<br />Năm sinh: 1969<br />Nơi ĐKTT: Phúc Lâm,Thị trấn Kinh Môn,huyện Kinh Môn, tỉnh Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Tống&nbsp; Văn Bổn<br />Họ và tên mẹ: Đinh Thị Nhiên<br />Can tội: Lừa đảo chiếm đoạt tài sản<br />Quyết định truy nã số: 01<br />Ngày tháng năm ra quyết định: 16/3/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Thanh Miện, tỉnh Hải Dương</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19385;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19348;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Trần Văn Nguyên">
            				<img class="img160" src="/image/images?img_id=193481344826132838" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19348;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Trần Văn Nguyên</b></a>
&nbsp;<span color="gray">(13/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Trần Văn Nguyên<br />Năm sinh: 1984<br />Nơi ĐKTT: Hữu Chung, Tân Phong, Ninh Giang, Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Trần Văn Sửa<br />Họ và tên mẹ: Nguyễn Thị Thực<br />Can tội: Trộm cắp tài sản<br />Quyết định truy nã số: 05<br />Ngày tháng năm ra quyết định: 16/5/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Ninh Giang, tỉnh Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m61; Màu da: đen; Tóc: để rậm; Sống mũi: thẳng; Dái tai: thụt</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19348;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19349;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Hoàng  Xuân Phương">
            				<img class="img160" src="/image/images?img_id=193491344826288505" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19349;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Hoàng  Xuân Phương</b></a>
&nbsp;<span color="gray">(13/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Hoàng&nbsp; Xuân Phương<br />Năm sinh: 1960<br />Nơi ĐKTT: Số 377 Điện Biên Phủ, P. Bình Hàn, TP Hải Dương, tỉnh&nbsp; Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Hoàng&nbsp; Hạnh&nbsp; Phúc<br />Họ và tên mẹ: Đặng&nbsp; Thị Loan<br />Can tội: Cố ý gây thương tích<br />Quyết định truy nã số: 47<br />Ngày tháng năm ra quyết định: 28/9/2010<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TP Hải Dương, tỉnh Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m69; sống&nbsp; mũi: thẳng; <br />Đặc điểm khác: Sẹo thẳng 1,5x0,2cm cách 3,5cm dưới sau đuôi mắt phải</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19349;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19338;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Nguyễn Văn Quang">
            				<img class="img160" src="/image/images?img_id=193381344242958289" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19338;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Nguyễn Văn Quang</b></a>
&nbsp;<span color="gray">(06/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Nguyễn Văn Quang<br />Năm sinh: 1993<br />Nơi ĐKTT: Khu Mật Sơn, xã Chí Minh, TX Chí Linh, tỉnh&nbsp; Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Nguyễn Văn Khởi<br />Họ và tên mẹ: Đỗ Thị Hằng<br />Can tội: Cố ý gây thương tích<br />Quyết định truy nã số: 06<br />Ngày tháng năm ra quyết định: 21/6/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TX Chí Linh, tỉnh&nbsp; Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m60; Sống mũi: lõm<br />Đặc điểm khác: Sẹo chấm cách 1cm dưới sau đuôi mắt phải</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19338;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19337;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Đỗ Đức Thiện">
            				<img class="img160" src="/image/images?img_id=193371344240661235" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19337;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Đỗ Đức Thiện</b></a>
&nbsp;<span color="gray">(06/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Đỗ Đức Thiện<br />Năm sinh: 1979<br />Nơi ĐKTT: Phú Mãn, Phan Sào Nam, huyện Phù Cừ, tỉnh Hưng Yên<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Đỗ Xuân Mừng<br />Họ và tên mẹ: Nguyễn Thị Hồng Dân<br />Can tội: Lạm dụng tín nhiệm chiếm đoạt tài sản<br />Quyết định truy nã số: 06<br />Ngày tháng năm ra quyết định: 5/7/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Cẩm Giảng, tỉnh Hải Dương</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19337;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19319;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Nguyễn Thị Ly">
            				<img class="img160" src="/image/images?img_id=193191343637113589" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19319;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Nguyễn Thị Ly</b></a>
&nbsp;<span color="gray">(06/08/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Nguyễn Thị Ly<br />Năm sinh: 1962<br />Nơi ĐKTT: Thôn Phú Lương, xã Nam Đồng, TP Hải Dương, tỉnh Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Nguyễn Văn Sáng<br />Họ và tên mẹ: Nguyễn Thị Ly<br />Can tội: Lừa đảo chiếm đoạt tài sản<br />Quyết định truy nã số: 09<br />Ngày tháng năm ra quyết định: 9/9/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m59; màu da: trắng; sống mũi: thẳng; người đậm</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19319;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1_last clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19321;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" title="Truy nã đối tượng Nguyễn Văn Quang">
            				<img class="img160" src="/image/images?img_id=193211343637436339" />
            			</a>


            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19321;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice"><b>Truy nã đối tượng Nguyễn Văn Quang</b></a>
&nbsp;<span color="gray">(30/07/2012)</span>
<div class="fon5">
<p>Họ và tên đối tượng: Nguyễn Văn Quang<br />Năm sinh: 1993<br />Nơi ĐKTT: Khu Mật Sơn, xã Chí Minh, TX Chí Linh, tỉnh&nbsp; Hải Dương<br />Chỗ ở trước khi trốn: Như trên<br />Họ và tên bố: Nguyễn Văn Khởi<br />Họ và tên mẹ: Đỗ Thị Hằng<br />Can tội: Cố ý gây thương tích<br />Quyết định truy nã số: 06<br />Ngày tháng năm ra quyết định: 21/6/2011<br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TX Chí Linh, tỉnh&nbsp; Hải Dương<br />Đặc điểm nhận dạng: Chiều cao: 1m60; Sống mũi: lõm<br />Đặc điểm khác: Sẹo chấm cách 1cm dưới sau đuôi mắt phải</p>
</div>
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19321;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<p> </p>
<div class="othernews">
<div class="othernews">
<p><b>Các tin khác</b></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19320;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Đỗ Đức Thiện</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(30/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19305;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Nguyễn Văn Long</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(25/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19304;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Đoàn Thị Trường</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(25/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19306;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Trần Đăng Đại</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(25/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19271;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Phạm Văn Hải</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(16/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19270;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Nguyễn Văn Mạnh</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(16/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19269;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Võ Như Vũ</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(16/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19250;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Lưu Công Tuấn</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(13/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19248;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Lê Kim Thành</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(10/07/2012)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19229;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice">Truy nã đối tượng Đàm Quang Hùng</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(03/07/2012)</span></p>

<br/>
<table width="100%">
<tr>
<td align="left">
<span>&lsaquo;&lsaquo; Trang &#273;&#7847;u</span>
<span>&nbsp;|&nbsp;Trang tr&#432;&#7899;c</span>
<span>|</span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('2','');" >Trang ti&#7871;p &nbsp|&nbsp;</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('35','');" >Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>
</td>
<td align="right">
T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang.
</td>
</tr>
</table>
                                    	<br/>

<div style="background:#FFF4E1; padding:5px">
<div class="xemtheongay-title">
Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;
</div>
<div class="xemtheongay-date">
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
<option value="1" >1</option>
<option value="2" selected>2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" selected>10</option>
<option value="11" >11</option>
<option value="12" >12</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
<option value="2005" >2005</option>
<option value="2006" >2006</option>
<option value="2007" >2007</option>
<option value="2008" >2008</option>
<option value="2009" >2009</option>
<option value="2010" >2010</option>
<option value="2011" >2011</option>
<option value="2012" selected>2012</option>
<option value="2013" >2013</option>
<option value="2014" >2014</option>
<option value="2015" >2015</option>
<option value="2016" >2016</option>
<option value="2017" >2017</option>
</select>
</div>
<div class="xemtheongay-but">
&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>
</div>
</div>
</div>
</div>
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script language ="javascript">
function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page,cmd){
var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
if(page != ''){
myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
}
if(cmd == 'search'){
myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value=cmd;
}
myform.action="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015;jsessionid=4602F26B6370B4E514C40D7341D47704.voffice";
myform.submit();
}
</script>
</div>
</div>
<script type="text/javascript">
Liferay.Portlet.onLoad(
{
canEditTitle: false,
columnPos: 0,
isStatic: 'end',
namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
portletId: 'vcmsviewcontent_INSTANCE_GbkG'
}
);
</script>
</div>
