<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  " >
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>
<div class="portlet-borderless-container" style="">
<div>
<style type="text/css">
.text_none2 {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #3175b9;
text-decoration: none;
line-height: 16px;
}
.text_detail {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #3175b9;
text-decoration: none;
line-height: normal;
padding-top: 5px;
}
/** Popup **/
.box_guiban {
position:fixed;
_position:absolute;
top:30px;
left:27%;
width:439px;
height:auto;
padding:8px;
background:#ffffff;
border:3px solid #4A4A4A;
z-index:10;
display:none;
_margin-top: expression(0 - parseInt(this.offsetHeight / 500) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
.error_display{
font-weight:bold;
color:#FF0000;
}
.tit_guiban {
background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
height:23px;
padding:4px 0 0 10px;
font-size:16px;
font-family:arial;
margin:0 0 15px 0;
vertical-align:bottom;
font-weight:bold;
color:WHITE;
}
.overlay {
display:none;
width:100%;
_width:1500px;
height:100%;
_height:2500px;
position:fixed;
_position:absolute;
top:0;
left:0;
background:#000;
filter:alpha(opacity=50);
-moz-opacity:.50;	
opacity:.50;
z-index:5;
_overflow:hidden;
}
.sign_warning {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
border:#fadcdc solid 1px;
width:82%;
padding:8px;
padding-left:60px;
margin-bottom:10px;
font-size:13px;
display:none;
line-height:20px;
}
.error {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
width:82%;
padding:8px;
padding-left:120px;
margin-bottom:10px;
font-size:13px;
color:#FF0000;
width:200px;
}
.sign_success {
background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
width:60%;
padding:23px;
padding-left:120px;
margin-bottom:10px;
font-size:16px;
color:#3399FF;
font-weight:bold;
display:none;
line-height:20px;
}
.close_popup {
padding:23px;
display:none;
padding-left:40%;
}
.boder {
border: 1px solid #6ac0f6;
}
.bottom {
border:1px solid #DC9373;
}
.navnormal {
background:#FAEFD8 none repeat scroll 0 0;
font-size:10px;
padding:5px 0;
text-align:center;
} 
.pnlTopView {
border-color:#CCCCCC #CCCCCC -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
margin-bottom:10px;
}
.pnlTopView .pnl-title {
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding:4px;
text-transform:uppercase;
}
.pnlTopView .pnl-title a {
color:#CD2027;
text-transform:uppercase;
}
.pnlTopView .pnl-content div.t {	
border-bottom:1px solid #CCCCCC;
padding:6px 6px 6px 24px;
}
.pnlTopView .pnl-content div.t1 {
background-position:0 2px;
}
.pnlTopView .pnl-content div.t2 {
background-position:0 -38px;
}
.pnlTopView .pnl-content div.t3 {
background-position:0 -78px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -118px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -158px;
}
#footer_print {
background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
width:620px;
}
.copyright{
font-family:arial;
font-size:11px;
color:#FFFFFF;
line-height:15px;
padding:10px 10px 10px;
}
   
</style>   
<form  method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value="" />
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1" />	
<div class="ctn-center clearfix">
<div class="line-top">    
    	<div class="line-bottom">
        	<div class="line-left">
            	<div class="line-right">
                	<div class="goc-left-top">
                    	<div class="goc-right-top">
                        	<div class="goc-left-bottom">
                            	<div class="goc-right-bottom">
                                	<div class="ct">                                        	
<ul class="title" style="margin:0px;">
                                    		<li><h6><a href="#">Đối tượng truy nã</a></h6></li>
                                    	</ul>
<div class="smallpage">
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/13615" title="Truy nã đối tượng Nguyễn Văn Minh">
            				<img class="img160" src="/image/images?img_id=136151281495288452" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/13615"><b>Truy nã đối tượng Nguyễn Văn Minh</b></a>
&nbsp;<span color="gray">(11/08/2010)</span>
<div class="fon5">
<div><P><SPAN class="Apple-style-span" style="color: rgb(6, 14, 25); font-family: Arial; font-size: 12px; font-weight: bold; ">Hiện CAH Từ Liêm, TP Hà Nội đang điều tra vụ án lừa  đảo “chạy trường” và ra lệnh truy nã đối tượng Nguyễn Văn Minh, SN 1983, HKTT tại xã Tri Phú, huyện Chiêm Hóa, tỉnh Tuyên Quang về hành vi lừa đảo chiếm đoạt tài sản.</SPAN></P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/13615" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11702" title="Lệnh truy nã Nguyễn Quách Hồng Quyên">
            				<img class="img160" src="/image/images?img_id=117021264733689167" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11702"><b>Lệnh truy nã Nguyễn Quách Hồng Quyên</b></a>
&nbsp;<span color="gray">(29/01/2010)</span>
<div class="fon5">
<div><P>Truy nã đối với Nguyễn Quách Hồng Quyên, nữ; SN 1981, quê quán: Mỹ Xuyên, Sóc Trăng. Nơi đăng HKTT: Ấp Hòa Khanh, xã Thạch Quới, huyện Mỹ Xuyên, Sóc Trăng. Chỗ ở trước khi trốn: 357/C9 đường Lê Hồng Phong, khóm 5, phường 3, TP Sóc Trăng, Sóc Trăng.</P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11702" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1_last clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11701" title="Truy nã Phí Đức Huy">
            				<img class="img160" src="/image/images?img_id=117011264733460295" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11701"><b>Truy nã Phí Đức Huy</b></a>
&nbsp;<span color="gray">(29/01/2010)</span>
<div class="fon5">
<div><P><SPAN class="main_abstract">Ngày 11/12, cơ quan CSĐT Công an quận  Thanh Xuân (Hà Nội) đã ra quyết định truy nã đối tượng: Phí Đức Huy, 33 tuổi,  quê quán: Thái Bình, HKTT: Số 2 - B10 Khu Láng, Tập thể Trường Đại học GTVT,  phường Láng Hạ, Đống Đa, Hà Nội về hành vi lừa đảo chiếm đoạt tài sản.  </SPAN></P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/11701" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<p> </p>
  
<br/>
<table width="100%">
<tr>
<td align="left">
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm(1,'');" >&lsaquo;&lsaquo; Trang &#273;&#7847;u</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('34','');" >&nbsp;|&nbsp;Trang tr&#432;&#7899;c</a></span>
<span>|</span>
<span>Trang ti&#7871;p &nbsp|&nbsp;</a></span>
<span>Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>	
</td>
<td align="right">
T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang. 
</td>	
</tr>	
</table>	
                                    	<br/>	
                                    				  
<div style="background:#FFF4E1; padding:5px">
<div class="xemtheongay-title">
Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;
</div>
<div class="xemtheongay-date">	
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
<option value="1" selected>1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" selected>10</option>
<option value="11" >11</option>
<option value="12" >12</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
<option value="2005" >2005</option>
<option value="2006" >2006</option>
<option value="2007" >2007</option>
<option value="2008" >2008</option>
<option value="2009" >2009</option>
<option value="2010" >2010</option>
<option value="2011" >2011</option>
<option value="2012" selected>2012</option>
<option value="2013" >2013</option>
<option value="2014" >2014</option>
<option value="2015" >2015</option>
<option value="2016" >2016</option>
<option value="2017" >2017</option>
</select>
</div>	
<div class="xemtheongay-but">
&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>
</div>	
</div>
</div>
</div>											                 																				
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script language ="javascript">		
function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page,cmd){
var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
if(page != ''){
myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
}
if(cmd == 'search'){
myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value=cmd;
}
myform.action="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015";
myform.submit();
}
</script>																
</div>
</div>
<script type="text/javascript">
Liferay.Portlet.onLoad(
{
canEditTitle: false,
columnPos: 0,
isStatic: 'end',
namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
portletId: 'vcmsviewcontent_INSTANCE_GbkG'
}
);
</script>
</div>
