<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  ">
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>

  <div class="portlet-borderless-container"
  style="">
    <div>
      <style type="text/css">
        .text_none2 {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: bold;
          color: #3175b9;
          text-decoration: none;
          line-height: 16px;
        }
        .text_detail {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: normal;
          color: #3175b9;
          text-decoration: none;
          line-height: normal;
          padding-top: 5px;
        }
        /** Popup **/
        .box_guiban {
          position:fixed;
          _position:absolute;
          top:30px;
          left:27%;
          width:439px;
          height:auto;
          padding:8px;
          background:#ffffff;
          border:3px solid #4A4A4A;
          z-index:10;
          display:none;
          _margin-top: expression(0 - parseInt(this.offsetHeight / 500) +(TBWindowMargin=document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) +'px');
        }
        .error_display {
          font-weight:bold;
          color:#FF0000;
        }
        .tit_guiban {
          background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
          height:23px;
          padding:4px 0 0 10px;
          font-size:16px;
          font-family:arial;
          margin:0 0 15px 0;
          vertical-align:bottom;
          font-weight:bold;
          color:WHITE;
        }
        .overlay {
          display:none;
          width:100%;
          _width:1500px;
          height:100%;
          _height:2500px;
          position:fixed;
          _position:absolute;
          top:0;
          left:0;
          background:#000;
          filter:alpha(opacity=50);
          -moz-opacity:.50;
          opacity:.50;
          z-index:5;
          _overflow:hidden;
        }
        .sign_warning {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
          border:#fadcdc solid 1px;
          width:82%;
          padding:8px;
          padding-left:60px;
          margin-bottom:10px;
          font-size:13px;
          display:none;
          line-height:20px;
        }
        .error {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
          width:82%;
          padding:8px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:13px;
          color:#FF0000;
          width:200px;
        }
        .sign_success {
          background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
          width:60%;
          padding:23px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:16px;
          color:#3399FF;
          font-weight:bold;
          display:none;
          line-height:20px;
        }
        .close_popup {
          padding:23px;
          display:none;
          padding-left:40%;
        }
        .boder {
          border: 1px solid #6ac0f6;
        }
        .bottom {
          border:1px solid #DC9373;
        }
        .navnormal {
          background:#FAEFD8 none repeat scroll 0 0;
          font-size:10px;
          padding:5px 0;
          text-align:center;
        }
        .pnlTopView {
          border-color:#CCCCCC #CCCCCC -moz-use-text-color;
          border-style:solid solid none;
          border-width:1px 1px 0;
          margin-bottom:10px;
        }
        .pnlTopView .pnl-title {
          border-bottom:1px solid #CCCCCC;
          font-weight:bold;
          padding:4px;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-title a {
          color:#CD2027;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-content div.t {
          border-bottom:1px solid #CCCCCC;
          padding:6px 6px 6px 24px;
        }
        .pnlTopView .pnl-content div.t1 {
          background-position:0 2px;
        }
        .pnlTopView .pnl-content div.t2 {
          background-position:0 -38px;
        }
        .pnlTopView .pnl-content div.t3 {
          background-position:0 -78px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -118px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -158px;
        }
        #footer_print {
          background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
          width:620px;
        }
        .copyright {
          font-family:arial;
          font-size:11px;
          color:#FFFFFF;
          line-height:15px;
          padding:10px 10px 10px;
        }
      </style>
      <form method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value=""
        />
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1"
        />
        <div class="ctn-center clearfix">
          <div class="line-top">
            <div class="line-bottom">
              <div class="line-left">
                <div class="line-right">
                  <div class="goc-left-top">
                    <div class="goc-right-top">
                      <div class="goc-left-bottom">
                        <div class="goc-right-bottom">
                          <div class="ct">
                            <ul class="title" style="margin:0px;">
                              <li>
                                <h6><a href="#">Đối tượng truy nã</a></h6>
                              </li>
                            </ul>
                            <div class="smallpage">
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19231"
                                title="Truy nã đối tượng Hoàng Văn Thắng">
            				<img class="img160" src="/image/images?img_id=192311341278859659" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19231"><b>Truy nã đối tượng Hoàng Văn Thắng</b></a>
&nbsp;
                                  <span
                                  color="gray">(03/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Hoàng Văn Thắng
                                        <br />Năm sinh: 1982
                                        <br />Nơi ĐKTT: Thôn 3, Đầm Hồng, Ngọc Hội, huyện Chiêm Hóa, tỉnh Tuyên Quang
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Hoàng&nbsp; Văn Chu
                                        <br />Họ và tên mẹ: Cao Thị Nga
                                        <br />Can tội: Mua bán, sử dụng trái phép vật liệu nổ
                                        <br />Quyết định truy nã số: 03
                                        <br />Ngày tháng năm ra quyết định: 03/11/2005
                                        <br />Đơn vị ra quyết định: Cơ quan ANĐT Công an tỉnh Tuyên Quang</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19231"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19208"
                                title="Truy nã đối tượng Hoàng Văn Tiến">
            				<img class="img160" src="/image/images?img_id=192081340677184546" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19208"><b>Truy nã đối tượng Hoàng Văn Tiến</b></a>
&nbsp;
                                  <span
                                  color="gray">(26/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Hoàng Văn Tiến
                                        <br />Năm sinh: 1987
                                        <br />Nơi ĐKTT: Thôn Phú Lộc, xã Phúc Ứng, huyện Sơn Dương, tỉnh Tuyên Quang
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Hoàng Văn Từng
                                        <br />Họ và tên mẹ: Hoàng Thị Cách
                                        <br />Can tội: Đánh bạc
                                        <br />Quyết định truy nã số: 20
                                        <br />Ngày tháng năm ra quyết định: 17/6/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Sơn Dương, tỉnh&nbsp;
                                        Tuyên Quang
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m65; Sống mũi: thẳng; Dái tai: trung bình
                                        <br
                                        />Đặc điểm khác: Sẹo không rõ hình 3x1 cm cách 2cm trên cánh mũi trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19208"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19209"
                                title="Truy nã đối tượng Hứa Thị Bóng">
            				<img class="img160" src="/image/images?img_id=192091340677384505" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19209"><b>Truy nã đối tượng Hứa Thị Bóng</b></a>
&nbsp;
                                  <span
                                  color="gray">(26/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Hứa Thị Bóng
                                        <br />Năm sinh: 1964
                                        <br />Nơi ĐKTT: Tổ Nhân dân Tân Tiến, TT Tân Yên, huyện Hàm Yên, tỉnh Tuyên
                                        Quang
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Hứa Đức Gâm
                                        <br />Họ và tên mẹ: Mạc Thị Điện
                                        <br />Can tội: Lạm dụng tín nhiệm chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 03
                                        <br />Ngày tháng năm ra quyết định: 10/01/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Sơn Dương, tỉnh&nbsp;
                                        Tuyên Quang
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m67;&nbsp; Sống mũi: hơi lõm; Dái tai:
                                        trung bình
                                        <br />Đặc điểm khác: Nốt ruồi cách 2,5cm trước đầu mắt trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19209"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19199"
                                title="Truy nã đối tượng Nguyễn Thị Ngân">
            				<img class="img160" src="/image/images?img_id=191991340676885058" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19199"><b>Truy nã đối tượng Nguyễn Thị Ngân</b></a>
&nbsp;
                                  <span
                                  color="gray">(26/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Thị Ngân
                                        <br />Năm sinh: 1975
                                        <br />Nơi ĐKTT: ấp Phước Tường, xã Bình Phước, huyện Mang Thít, tỉnh Vĩnh Long
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Nguyễn Văn Chiến
                                        <br />Họ và tên mẹ: Lê Thị Hoa
                                        <br />Can tội: Cố ý gây thương tích
                                        <br />Quyết định truy nã số: 01
                                        <br />Ngày tháng năm ra quyết định: 27/10/1998
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Mang Thít, tỉnh Vĩnh
                                        Long
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m53; Sống mũi: lõm; Nếp tai dưới: thụt;
                                        <br
                                        />Đặc điểm khác: Sẹo không rõ hình, dài 1,5 x 0,6cm cách 1cm trên sau lông
                                        mày trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19199"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19198"
                                title="Truy nã đối tượng Huỳnh Tam Phong">
            				<img class="img160" src="/image/images?img_id=191981340270711575" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19198"><b>Truy nã đối tượng Huỳnh Tam Phong</b></a>
&nbsp;
                                  <span
                                  color="gray">(21/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Huỳnh Tam Phong
                                        <br />Năm sinh: 1962
                                        <br />Nơi ĐKTT: Khóm 2, Phường 3, TP Vĩnh Long, tỉnh&nbsp; Vĩnh&nbsp; Long
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Huỳnh Văn Lý
                                        <br />Họ và tên mẹ: Trương Thị Huệ
                                        <br />Can tội: Đưa hối lộ
                                        <br />Quyết định truy nã số: 01
                                        <br />Ngày tháng năm ra quyết định: 09/3/1999
                                        <br />Đơn vị ra quyết định: Cơ quan ANĐT Công an tỉnh Vĩnh Long
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m62; Sống mũi: vừa; Màu da: ngăm đen
                                        <br
                                        />Đặc điểm khác: Sẹo tròn 0,3 cm cách 5,5 cm trên sau mép trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19198"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19197"
                                title="Truy nã đối tượng Nguyễn Quốc Hùng">
            				<img class="img160" src="/image/images?img_id=191971340270447358" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19197"><b>Truy nã đối tượng Nguyễn Quốc Hùng</b></a>
&nbsp;
                                  <span
                                  color="gray">(21/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Quốc Hùng
                                        <br />Năm sinh: 1983
                                        <br />Nơi ĐKTT: Ấp An Nhơn, xã Trung Thành, huyện Vũng&nbsp; Liêm, tỉnh Vĩnh
                                        Long
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Nguyễn Thái Sơn
                                        <br />Họ và tên mẹ: Trần Thị Thanh Vân
                                        <br />Can tội: Trộm cắp tài sản
                                        <br />Quyết định truy nã số: 03
                                        <br />Ngày tháng năm ra quyết định: 05/2/2001
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Vũng Liêm, tỉnh Vĩnh
                                        Long
                                        <br />Đặc điểm nhận dạng: Nốt ruồi cách 3cm dưới sau đuôi mắt trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19197"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19166"
                                title="Truy nã đối tượng Thạch Minh">
            				<img class="img160" src="/image/images?img_id=191661339469139382" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19166"><b>Truy nã đối tượng Thạch Minh</b></a>
&nbsp;
                                  <span
                                  color="gray">(18/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Thạch Minh
                                        <br />Năm sinh: 1988
                                        <br />Nơi ĐKTT: Ấp Xuân Lộc, xã Trung Thành, huyện Vũng Liêm, tỉnh&nbsp; Vĩnh
                                        Long
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Nguyễn Văn Bé
                                        <br />Họ và tên mẹ: Thạch Thị Hai
                                        <br />Can tội: Trốn khỏi nơi giam
                                        <br />Quyết định truy nã số: 02
                                        <br />Ngày tháng năm ra quyết định: 14/01/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Vũng Liêm, tỉnh Vĩnh
                                        Long</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19166"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19167"
                                title="Truy nã đối tượng Lê Văn Chính">
            				<img class="img160" src="/image/images?img_id=191671339469492660" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19167"><b>Truy nã đối tượng Lê Văn Chính</b></a>
&nbsp;
                                  <span
                                  color="gray">(15/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lê Văn Chính
                                        <br />Năm sinh: 1980
                                        <br />Nơi ĐKTT: Ấp Bình Phụng, xã Trung Hiệp, huyện Vũng Liêm, tỉnh Vĩnh Long
                                        <br
                                        />Chỗ ở trước khi trốn: Ấp Bà Phận, xã Trung Chánh, huyện Vũng Liêm, tỉnh
                                        Vĩnh Long
                                        <br />Họ và tên bố: Dương Văn Thăng
                                        <br />Họ và tên mẹ: Trương Thị Huôi
                                        <br />Can tội: Trốn khỏi nơi giam
                                        <br />Quyết định truy nã số: 01
                                        <br />Ngày tháng năm ra quyết định: 14/01/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Vũng Liêm, tỉnh Vĩnh
                                        Long
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m72; Sống&nbsp; mũi: hơi lõm; Dái tai:
                                        chúc
                                        <br />Đặc điểm khác: Sẹo thẳng dài 0,3cm cách 2,5 cm sau mép trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19167"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19168"
                                title="Truy nã đối tượng Trần Phước Trung">
            				<img class="img160" src="/image/images?img_id=191681339469467684" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19168"><b>Truy nã đối tượng Trần Phước Trung</b></a>
&nbsp;
                                  <span
                                  color="gray">(12/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Trần Phước Trung
                                        <br />Năm sinh: 1956
                                        <br />Nơi ĐKTT: Ấp Phước An, xã An Phước, huyện Mang Thít, tỉnh Vĩnh Long
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: DTrần Văn Truyện
                                        <br />Họ và tên mẹ: Huỳnh Thị An
                                        <br />Can tội: Lạm dụng tín nhiệm chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 05
                                        <br />Ngày tháng năm ra quyết định: 24/8/2003
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Mang Thít, tỉnh Vĩnh
                                        Long
                                        <br />Đặc điểm nhận dạng: Nốt ruồi cách 1,5cm dưới sau mép trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19168"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1_last clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19151"
                                title="Truy nã đối tượng Nguyễn Văn Lượng">
            				<img class="img160" src="/image/images?img_id=191511338886870869" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19151"><b>Truy nã đối tượng Nguyễn Văn Lượng</b></a>
&nbsp;
                                  <span
                                  color="gray">(05/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Văn Lượng
                                        <br />Năm sinh: 1966
                                        <br />Nơi ĐKTT: Trung Trạch, Trung Thành, Vũng Liêm, Vĩnh Long
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Nguyễn Văn Hoàn
                                        <br />Họ và tên mẹ: Trần Thị Mảnh
                                        <br />Can tội: Giết người
                                        <br />Quyết định truy nã số: 29
                                        <br />Ngày tháng năm ra quyết định: 20/12/1992
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh&nbsp; Vĩnh Long
                                        <br />Đặc điểm nhận dạng: Sẹo chấm cách 1,2cm trên trước mép phải</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19151"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <p></p>
                              <div class="othernews">
                                <div class="othernews">
                                  <p><b>Các tin khác</b>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19152">Truy nã đối tượng Lê Thị Bé Em</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(05/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19153">Truy nã đối tượng Nguyễn Thanh Hồng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(05/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19141">Truy nã đối tượng Lê Xuân Ba</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(01/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19140">Truy nã đối tượng Trần Văn Tiến</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(01/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19142">Truy nã đối tượng Trần Văn Cương</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(01/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19128">Truy nã đối tượng Đinh Xuân Nam</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(29/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19130">Truy nã đối tượng Lê Xuân Định</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(25/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19129">Truy nã đối tượng Đỗ Ngọc Huy</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(25/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19044">Truy nã đối tượng Hoàng Bình Luận</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(11/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19041">Truy nã đối tượng Vũ Thị Vinh</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(11/05/2012)</span>
                                  </p>
                                  <br/>
                                  <table width="100%">
                                    <tr>
                                      <td align="left">
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm(1,'');" >&lsaquo;&lsaquo; Trang &#273;&#7847;u</a></span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('2','');" >&nbsp;|&nbsp;Trang tr&#432;&#7899;c</a></span>

<span>|</span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('4','');" >Trang ti&#7871;p &nbsp|&nbsp;</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('35','');" >Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>
                                      </td>
                                      <td align="right">T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang.</td>
                                    </tr>
                                  </table>
                                  <br/>
                                  <div style="background:#FFF4E1; padding:5px">
                                    <div class="xemtheongay-title">Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;</div>
                                    <div class="xemtheongay-date">
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10" selected>10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
                                        <option value="2005">2005</option>
                                        <option value="2006">2006</option>
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012" selected>2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                      </select>
                                    </div>
                                    <div class="xemtheongay-but">&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <script language="javascript">
        function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page, cmd) {
          var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
          if (page != '') {
            myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
          }
          if (cmd == 'search') {
            myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value = cmd;
          }
          myform.action = "http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015";
          myform.submit();
        }
      </script>
    </div>
  </div>
  <script type="text/javascript">
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: 'end',
      namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
      portletId: 'vcmsviewcontent_INSTANCE_GbkG'
    });
  </script>
</div>