<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  ">
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>

  <div class="portlet-borderless-container"
  style="">
    <div>
      <style type="text/css">
        .text_none2 {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: bold;
          color: #3175b9;
          text-decoration: none;
          line-height: 16px;
        }
        .text_detail {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: normal;
          color: #3175b9;
          text-decoration: none;
          line-height: normal;
          padding-top: 5px;
        }
        /** Popup **/
        .box_guiban {
          position:fixed;
          _position:absolute;
          top:30px;
          left:27%;
          width:439px;
          height:auto;
          padding:8px;
          background:#ffffff;
          border:3px solid #4A4A4A;
          z-index:10;
          display:none;
          _margin-top: expression(0 - parseInt(this.offsetHeight / 500) +(TBWindowMargin=document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) +'px');
        }
        .error_display {
          font-weight:bold;
          color:#FF0000;
        }
        .tit_guiban {
          background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
          height:23px;
          padding:4px 0 0 10px;
          font-size:16px;
          font-family:arial;
          margin:0 0 15px 0;
          vertical-align:bottom;
          font-weight:bold;
          color:WHITE;
        }
        .overlay {
          display:none;
          width:100%;
          _width:1500px;
          height:100%;
          _height:2500px;
          position:fixed;
          _position:absolute;
          top:0;
          left:0;
          background:#000;
          filter:alpha(opacity=50);
          -moz-opacity:.50;
          opacity:.50;
          z-index:5;
          _overflow:hidden;
        }
        .sign_warning {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
          border:#fadcdc solid 1px;
          width:82%;
          padding:8px;
          padding-left:60px;
          margin-bottom:10px;
          font-size:13px;
          display:none;
          line-height:20px;
        }
        .error {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
          width:82%;
          padding:8px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:13px;
          color:#FF0000;
          width:200px;
        }
        .sign_success {
          background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
          width:60%;
          padding:23px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:16px;
          color:#3399FF;
          font-weight:bold;
          display:none;
          line-height:20px;
        }
        .close_popup {
          padding:23px;
          display:none;
          padding-left:40%;
        }
        .boder {
          border: 1px solid #6ac0f6;
        }
        .bottom {
          border:1px solid #DC9373;
        }
        .navnormal {
          background:#FAEFD8 none repeat scroll 0 0;
          font-size:10px;
          padding:5px 0;
          text-align:center;
        }
        .pnlTopView {
          border-color:#CCCCCC #CCCCCC -moz-use-text-color;
          border-style:solid solid none;
          border-width:1px 1px 0;
          margin-bottom:10px;
        }
        .pnlTopView .pnl-title {
          border-bottom:1px solid #CCCCCC;
          font-weight:bold;
          padding:4px;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-title a {
          color:#CD2027;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-content div.t {
          border-bottom:1px solid #CCCCCC;
          padding:6px 6px 6px 24px;
        }
        .pnlTopView .pnl-content div.t1 {
          background-position:0 2px;
        }
        .pnlTopView .pnl-content div.t2 {
          background-position:0 -38px;
        }
        .pnlTopView .pnl-content div.t3 {
          background-position:0 -78px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -118px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -158px;
        }
        #footer_print {
          background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
          width:620px;
        }
        .copyright {
          font-family:arial;
          font-size:11px;
          color:#FFFFFF;
          line-height:15px;
          padding:10px 10px 10px;
        }
      </style>
      <form method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value=""
        />
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1"
        />
        <div class="ctn-center clearfix">
          <div class="line-top">
            <div class="line-bottom">
              <div class="line-left">
                <div class="line-right">
                  <div class="goc-left-top">
                    <div class="goc-right-top">
                      <div class="goc-left-bottom">
                        <div class="goc-right-bottom">
                          <div class="ct">
                            <ul class="title" style="margin:0px;">
                              <li>
                                <h6><a href="#">Đối tượng truy nã</a></h6>
                              </li>
                            </ul>
                            <div class="smallpage">
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19320"
                                title="Truy nã đối tượng Đỗ Đức Thiện">
            				<img class="img160" src="/image/images?img_id=193201343637283449" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19320"><b>Truy nã đối tượng Đỗ Đức Thiện</b></a>
&nbsp;
                                  <span
                                  color="gray">(30/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Đỗ Đức Thiện
                                        <br />Năm sinh: 1979
                                        <br />Nơi ĐKTT: Phú Mãn, Phan Sào Nam, huyện Phù Cừ, tỉnh Hưng Yên
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Đỗ Xuân Mừng
                                        <br />Họ và tên mẹ: Nguyễn Thị Hồng Dân
                                        <br />Can tội: Lạm dụng tín nhiệm chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 06
                                        <br />Ngày tháng năm ra quyết định: 5/7/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Cẩm Giảng, tỉnh Hải Dương</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19320"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19305"
                                title="Truy nã đối tượng Nguyễn Văn Long">
            				<img class="img160" src="/image/images?img_id=193051343178592564" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19305"><b>Truy nã đối tượng Nguyễn Văn Long</b></a>
&nbsp;
                                  <span
                                  color="gray">(25/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Văn Long
                                        <br />Năm sinh: 1995
                                        <br />Nơi ĐKTT: Ninh&nbsp; Chấp, Thái Học, Chí Linh, Hải Dương
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Nguyễn Đình Hồng
                                        <br />Họ và tên mẹ: Trần Thị Hoa
                                        <br />Can tội: Lừa đảo chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 10
                                        <br />Ngày tháng năm ra quyết định: 16/9/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TX Chí Linh, tỉnh&nbsp; Hải
                                        Dương
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m74; Sống mũi: gồ ghề; Dái tai: vuông
                                        <br
                                        />Đặc điểm khác: Nốt ruồi cách 1cm trên trước cánh mũi trái</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19305"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19304"
                                title="Truy nã đối tượng Đoàn Thị Trường">
            				<img class="img160" src="/image/images?img_id=193041343178417979" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19304"><b>Truy nã đối tượng Đoàn Thị Trường</b></a>
&nbsp;
                                  <span
                                  color="gray">(25/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Đoàn Thị Trường
                                        <br />Năm sinh: 1966
                                        <br />Nơi ĐKTT: 72 Đội Văn, Phường Trại Chuối, Quận&nbsp; Hồng&nbsp; Bàng, TP
                                        Hải&nbsp; Phòng
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Đoàn Ngọc Khoa
                                        <br />Họ và tên mẹ: Bùi Thị Thuận
                                        <br />Can tội: Lừa đảo chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 40
                                        <br />Ngày tháng năm ra quyết định: 26/8/2010
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TP Hải Dương, tỉnh Hải Dương</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19304"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19306"
                                title="Truy nã đối tượng Trần Đăng Đại">
            				<img class="img160" src="/image/images?img_id=193061343178698502" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19306"><b>Truy nã đối tượng Trần Đăng Đại</b></a>
&nbsp;
                                  <span
                                  color="gray">(25/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Trần Đăng Đại
                                        <br />Năm sinh: 1986
                                        <br />Nơi ĐKTT: Thôn Đào Đặng, xã Trung Nghĩa, TP Hưng Yên, tỉnh Hưng Yên
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Trần Đăng Thuận
                                        <br />Họ và tên mẹ: Trần Thị Chức
                                        <br />Can tội: Cướp tài sản
                                        <br />Quyết định truy nã số: 10
                                        <br />Ngày tháng năm ra quyết định: 7/11/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh&nbsp; Hải Dương
                                        <br />Đặc điểm nhận dạng: Chiều cao: 1m73&rsquo; Màu da: trắng; Tóc: bình thường;
                                        Sống mũi: lõm; Dái tai: chúc
                                        <br />Đặc điểm khác: Nốt ruồi cách 2 cm dưới, sau mép trái</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19306"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19271"
                                title="Truy nã đối tượng Phạm Văn Hải">
            				<img class="img160" src="/image/images?img_id=192711342424132923" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19271"><b>Truy nã đối tượng Phạm Văn Hải</b></a>
&nbsp;
                                  <span
                                  color="gray">(16/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Phạm Văn Hải
                                        <br />Năm sinh: 1989
                                        <br />Nơi ĐKTT: Số 20/310 Điện Biên Phủ, Phường&nbsp; Bình Hàn, TP Hải Dương,
                                        tỉnh Hải Dương
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Phạm Văn Thiệu
                                        <br />Họ và tên mẹ: Trần Thị Lý
                                        <br />Can tội: Trộm cắp tài sản
                                        <br />Quyết định truy nã số: 41
                                        <br />Ngày tháng năm ra quyết định: 27/8/2010
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TP Hải Dương, tỉnh Hải Dương</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19271"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19270"
                                title="Truy nã đối tượng Nguyễn Văn Mạnh">
            				<img class="img160" src="/image/images?img_id=192701342424119719" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19270"><b>Truy nã đối tượng Nguyễn Văn Mạnh</b></a>
&nbsp;
                                  <span
                                  color="gray">(16/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Văn Mạnh
                                        <br />Năm sinh: 1988
                                        <br />Nơi ĐKTT: Tổ 20, khu Bí Giàng, xã Yên Thanh, Uông Bí, Quảng Ninh
                                        <br />Chỗ ở trước khi trốn: Tổ 20, khu Bí Giàng, xã Yên Thanh, Uông Bí, Quảng
                                        Ninh
                                        <br />Họ và tên bố: Nguyễn Văn Sớm
                                        <br />Họ và tên mẹ: Nguyễn Thị Xuyền
                                        <br />Can tội: Cướp tài sản
                                        <br />Quyết định truy nã số: 22
                                        <br />Ngày tháng năm ra quyết định: 10/5/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TP Hải Dương, tỉnh&nbsp; Hải
                                        Dương</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19270"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19269"
                                title="Truy nã đối tượng Võ Như Vũ">
            				<img class="img160" src="/image/images?img_id=192691342411131429" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19269"><b>Truy nã đối tượng Võ Như Vũ</b></a>
&nbsp;
                                  <span
                                  color="gray">(16/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Võ Như Vũ
                                        <br />Năm sinh: 1985
                                        <br />Nơi ĐKTT: Phường Đồng Mỹ, TP Đồng Hới, tỉnh Quảng Bình
                                        <br />Chỗ ở trước khi trốn: Ngõ 55, đường Trương Pháp, phường Hải Thành, TP
                                        Đồng Hới, tỉnh Quảng Bình
                                        <br />Họ và tên bố: Võ Như Xuân
                                        <br />Họ và tên mẹ: Phan Thị Mười
                                        <br />Can tội: Lừa đảo chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 06
                                        <br />Ngày tháng năm ra quyết định: 28/8/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Quảng Bình</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19269"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19250"
                                title="Truy nã đối tượng Lưu Công Tuấn">
            				<img class="img160" src="/image/images?img_id=192501341884686546" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19250"><b>Truy nã đối tượng Lưu Công Tuấn</b></a>
&nbsp;
                                  <span
                                  color="gray">(13/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lưu Công Tuấn
                                        <br />Năm sinh: 1979
                                        <br />Nơi ĐKTT: Thôn Cả, xã Minh Thanh, huyện Sơn Dương, tỉnh Tuyên Quang
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Lưu Công Tửu
                                        <br />Họ và tên mẹ: Phạm Thị Mùi
                                        <br />Can tội: Đánh bạc
                                        <br />Quyết định truy nã số: 22
                                        <br />Ngày tháng năm ra quyết định: 24/6/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Sơn Dương, tỉnh Tuyên
                                        Quang</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19250"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19248"
                                title="Truy nã đối tượng Lê Kim Thành">
            				<img class="img160" src="/image/images?img_id=192481341884393672" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19248"><b>Truy nã đối tượng Lê Kim Thành</b></a>
&nbsp;
                                  <span
                                  color="gray">(10/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lê Kim Thành
                                        <br />Năm sinh: 1956
                                        <br />Nơi ĐKTT: Xóm Bến Thượng, xã Xuân Vân, huyện Yên Sơn, tỉnh Tuyên Quang
                                        <br
                                        />Chỗ ở trước khi trốn: Xã Xuân Vân, huyện Yên Sơn, tỉnh Tuyên Quang
                                        <br
                                        />Họ và tên bố: Lê Kim Giới
                                        <br />Họ và tên mẹ: Nguyễn Thị Đào
                                        <br />Can tội: Giết người
                                        <br />Quyết định truy nã số: 150
                                        <br />Ngày tháng năm ra quyết định: 10/10/1997
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Tuyên Quang
                                        <br />Đặc điểm nhận dạng: Cao 1m61; Sống mũi: thẳng; Nếp tai dưới: dô; Màu da:
                                        ngăm đen
                                        <br />Đặc điểm khác: Sẹo chấm cách 1,5cm trên sau đầu lông&nbsp; mày phải</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19248"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1_last clearfix'>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19229"
                                title="Truy nã đối tượng Đàm Quang Hùng">
            				<img class="img160" src="/image/images?img_id=192291341278291323" />
            			</a>

                                <div>
<a class="fon6" href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19229"><b>Truy nã đối tượng Đàm Quang Hùng</b></a>
&nbsp;
                                  <span
                                  color="gray">(03/07/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Đàm Quang Hùng
                                        <br />Năm sinh: 1960
                                        <br />Nơi ĐKTT: Thôn&nbsp; Cọ Nà Tâm, xã Phù Lưu, huyện Hàm Yên, tỉnh Tuyên
                                        Quang
                                        <br />Chỗ ở trước khi trốn: Xã Phù Lưu, huyện Hàm&nbsp; Yên, tỉnh Tuyên Quang
                                        <br
                                        />Họ và tên bố: Đàm Hữu Hải
                                        <br />Họ và tên mẹ: Sầm Thị Cứu
                                        <br />Can tội: Mua bán phụ nữ
                                        <br />Quyết định truy nã số: 13
                                        <br />Ngày tháng năm ra quyết định: 4/4/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Tuyên Quang
                                        <br />Đặc điểm khác: Chiều cao: 1m67; Màu da: ngăm đen; Tóc: xoăn</p>
                                    </div>
                                </div>	<a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19229"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <p></p>
                              <div class="othernews">
                                <div class="othernews">
                                  <p><b>Các tin khác</b>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19231">Truy nã đối tượng Hoàng Văn Thắng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(03/07/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19208">Truy nã đối tượng Hoàng Văn Tiến</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(26/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19209">Truy nã đối tượng Hứa Thị Bóng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(26/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19199">Truy nã đối tượng Nguyễn Thị Ngân</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(26/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19198">Truy nã đối tượng Huỳnh Tam Phong</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(21/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19197">Truy nã đối tượng Nguyễn Quốc Hùng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(21/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19166">Truy nã đối tượng Thạch Minh</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(18/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19167">Truy nã đối tượng Lê Văn Chính</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(15/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19168">Truy nã đối tượng Trần Phước Trung</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(12/06/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19151">Truy nã đối tượng Nguyễn Văn Lượng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(05/06/2012)</span>
                                  </p>
                                  <br/>
                                  <table width="100%">
                                    <tr>
                                      <td align="left">
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm(1,'');" >&lsaquo;&lsaquo; Trang &#273;&#7847;u</a></span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('1','');" >&nbsp;|&nbsp;Trang tr&#432;&#7899;c</a></span>

<span>|</span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('3','');" >Trang ti&#7871;p &nbsp|&nbsp;</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('35','');" >Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>
                                      </td>
                                      <td align="right">T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang.</td>
                                    </tr>
                                  </table>
                                  <br/>
                                  <div style="background:#FFF4E1; padding:5px">
                                    <div class="xemtheongay-title">Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;</div>
                                    <div class="xemtheongay-date">
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30" selected>30</option>
                                        <option value="31">31</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9" selected>9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
                                        <option value="2005">2005</option>
                                        <option value="2006">2006</option>
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012" selected>2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                      </select>
                                    </div>
                                    <div class="xemtheongay-but">&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <script language="javascript">
        function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page, cmd) {
          var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
          if (page != '') {
            myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
          }
          if (cmd == 'search') {
            myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value = cmd;
          }
          myform.action = "http://www.mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015";
          myform.submit();
        }
      </script>
    </div>
  </div>
  <script type="text/javascript">
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: 'end',
      namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
      portletId: 'vcmsviewcontent_INSTANCE_GbkG'
    });
  </script>
</div>