<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  " >
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>
<div class="portlet-borderless-container" style="">
<div>
<style type="text/css">
.text_none2 {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #3175b9;
text-decoration: none;
line-height: 16px;
}
.text_detail {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #3175b9;
text-decoration: none;
line-height: normal;
padding-top: 5px;
}
/** Popup **/
.box_guiban {
position:fixed;
_position:absolute;
top:30px;
left:27%;
width:439px;
height:auto;
padding:8px;
background:#ffffff;
border:3px solid #4A4A4A;
z-index:10;
display:none;
_margin-top: expression(0 - parseInt(this.offsetHeight / 500) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
.error_display{
font-weight:bold;
color:#FF0000;
}
.tit_guiban {
background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
height:23px;
padding:4px 0 0 10px;
font-size:16px;
font-family:arial;
margin:0 0 15px 0;
vertical-align:bottom;
font-weight:bold;
color:WHITE;
}
.overlay {
display:none;
width:100%;
_width:1500px;
height:100%;
_height:2500px;
position:fixed;
_position:absolute;
top:0;
left:0;
background:#000;
filter:alpha(opacity=50);
-moz-opacity:.50;	
opacity:.50;
z-index:5;
_overflow:hidden;
}
.sign_warning {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
border:#fadcdc solid 1px;
width:82%;
padding:8px;
padding-left:60px;
margin-bottom:10px;
font-size:13px;
display:none;
line-height:20px;
}
.error {
background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
width:82%;
padding:8px;
padding-left:120px;
margin-bottom:10px;
font-size:13px;
color:#FF0000;
width:200px;
}
.sign_success {
background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
width:60%;
padding:23px;
padding-left:120px;
margin-bottom:10px;
font-size:16px;
color:#3399FF;
font-weight:bold;
display:none;
line-height:20px;
}
.close_popup {
padding:23px;
display:none;
padding-left:40%;
}
.boder {
border: 1px solid #6ac0f6;
}
.bottom {
border:1px solid #DC9373;
}
.navnormal {
background:#FAEFD8 none repeat scroll 0 0;
font-size:10px;
padding:5px 0;
text-align:center;
} 
.pnlTopView {
border-color:#CCCCCC #CCCCCC -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
margin-bottom:10px;
}
.pnlTopView .pnl-title {
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding:4px;
text-transform:uppercase;
}
.pnlTopView .pnl-title a {
color:#CD2027;
text-transform:uppercase;
}
.pnlTopView .pnl-content div.t {	
border-bottom:1px solid #CCCCCC;
padding:6px 6px 6px 24px;
}
.pnlTopView .pnl-content div.t1 {
background-position:0 2px;
}
.pnlTopView .pnl-content div.t2 {
background-position:0 -38px;
}
.pnlTopView .pnl-content div.t3 {
background-position:0 -78px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -118px;
}
.pnlTopView .pnl-content div.t4 {
background-position:0 -158px;
}
#footer_print {
background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
width:620px;
}
.copyright{
font-family:arial;
font-size:11px;
color:#FFFFFF;
line-height:15px;
padding:10px 10px 10px;
}
   
</style>   
<form  method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value="" />
<input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1" />	
<div class="ctn-center clearfix">
<div class="line-top">    
    	<div class="line-bottom">
        	<div class="line-left">
            	<div class="line-right">
                	<div class="goc-left-top">
                    	<div class="goc-right-top">
                        	<div class="goc-left-bottom">
                            	<div class="goc-right-bottom">
                                	<div class="ct">                                        	
<ul class="title" style="margin:0px;">
                                    		<li><h6><a href="#">Đối tượng truy nã</a></h6></li>
                                    	</ul>
<div class="smallpage">
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14409" title="Truy nã đối tượng Võ Ngọc Nam">
            				<img class="img160" src="/image/images?img_id=144091285094798034" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14409"><b>Truy nã đối tượng Võ Ngọc Nam</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Võ Ngọc Nam<BR/>Năm sinh: 1961<BR/>Nơi ĐKTT: X11, 1A Hoàng Văn Thụ, Quán Thánh, Ba Đình, Hà Nội<BR/>Chỗ ở trước khi trốn: X11, 1A Hoàng Văn Thụ, Quán Thánh, Ba Đình, Hà Nội<BR/>Can tội: Dùng hộ chiếu giả, tổ chức cho người khác xuất cảnh trái phép<BR/>Quyết định truy nã số: 504<BR/>Ngày tháng năm ra quyết định: 3/11/1997<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14409" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14408" title="Truy nã đối tượng Trương Xuyên Kim">
            				<img class="img160" src="/image/images?img_id=144081285094489918" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14408"><b>Truy nã đối tượng Trương Xuyên Kim</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Trương Xuyên Kim<BR/>Năm sinh: 1956<BR/>Nơi ĐKTT: 141/22 Bàn Cờ, Phường 3, Quận 3, TP Hồ Chí Minh<BR/>Chỗ ở trước khi trốn: 141/22 Bàn Cờ, Phường 3, Quận 3, TP Hồ Chí Minh<BR/>Can tội: Buôn lậu<BR/>Quyết định truy nã số: 128<BR/>Ngày tháng năm ra quyết định: 25/5/1999<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14408" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14407" title="Truy nã đối tượng Đặng Hữu Thành">
            				<img class="img160" src="/image/images?img_id=144071285094336040" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14407"><b>Truy nã đối tượng Đặng Hữu Thành</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Đặng Hữu Thành<BR/>Năm sinh: 8/11/1954<BR/>Nơi ĐKTT: 25 Bà Huyện Thanh Quan, Phường 6, Quận 3, TP Hồ Chí Minh<BR/>Chỗ ở trước khi trốn: C1, 155 Sư Vạn Hạnh, Phường 13, Quận 10, TP Hồ Chí Minh<BR/>Can tội: Buôn lậu<BR/>Quyết định truy nã số: 158c<BR/>Ngày tháng năm ra quyết định: 11/6/1998<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14407" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14406" title="Truy nã đối tượng Nguyễn Hoài Bắc">
            				<img class="img160" src="/image/images?img_id=144061285094063009" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14406"><b>Truy nã đối tượng Nguyễn Hoài Bắc</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><DIV><P>Họ và tên đối tượng: Nguyễn Hoài Bắc<BR/>Năm sinh: 18/12/1965<BR/>Nơi ĐKTT: 38/6/1 Bình Giã, Phường 8, TP Vũng Tàu, Bà Rịa Vũng Tàu<BR/>Chỗ ở trước khi trốn: 38/6/1 Bình Giã, Phường 8, TP Vũng Tàu, Bà Rịa Vũng Tàu<BR/>Can tội: Làm giả con dấu, tài liệu của cơ quan tổ chức <BR/>Quyết định truy nã số: 08<BR/>Ngày tháng năm ra quyết định: 29/01/2004<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA<BR/> </P></DIV></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14406" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14405" title="Truy nã đối tượng Nguyễn Thị Diễm Phương">
            				<img class="img160" src="/image/images?img_id=144051285093838119" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14405"><b>Truy nã đối tượng Nguyễn Thị Diễm Phương</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><DIV><P>Họ và tên đối tượng: Nguyễn Thị Diễm Phương<BR/>Năm sinh: 15/8/1979<BR/>Nơi ĐKTT: Ấp An Thành Tây, Trung Hiếu, Vũng Liêm, Vĩnh Long<BR/>Chỗ ở trước khi trốn: 112/11 Bạch Đằng, Phường 2, Quận Tân Bình, TP Hồ Chí Minh<BR/>Họ tên bố:   <BR/>Họ tên mẹ:<BR/>Can tội: Làm giả con dấu, tài liệu của cơ quan tổ chức <BR/>Quyết định truy nã số: 7a<BR/>Ngày tháng năm ra quyết định: 29/01/2004<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P><P> </P></DIV></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14405" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14404" title="Truy nã đối tượng Kiều Quân">
            				<img class="img160" src="/image/images?img_id=144041285093675083" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14404"><b>Truy nã đối tượng Kiều Quân</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Kiều Quân<BR/>Năm sinh: 1967<BR/>Nơi ĐKTT: Số 7, Đốc Ngữ, Phường Lê Lợi, Thị xã Sơn Tây, Hà Tây cũ<BR/>Chỗ ở trước khi trốn: Số 7, Đốc Ngữ, Phường Lê Lợi, Thị xã Sơn Tây, Hà Tây cũ<BR/>Họ tên bố:   <BR/>Họ tên mẹ:<BR/>Can tội: Sử dụng hộ chiếu giả để tổ chức xuất cảnh trái phép<BR/>Quyết định truy nã số: 16<BR/>Ngày tháng năm ra quyết định: 6/3/2001<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA<BR/> </P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14404" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14403" title="Truy nã đối tượng Nguyễn Xuân Diện">
            				<img class="img160" src="/image/images?img_id=144031285093509146" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14403"><b>Truy nã đối tượng Nguyễn Xuân Diện</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Nguyễn Xuân Diện<BR/>Năm sinh: 20/10/1964<BR/>Nơi ĐKTT: Khu 15 Tân Kim, Thanh Bình, TP Hải Dương<BR/>Chỗ ở trước khi trốn: Khu 15 Tân Kim, Thanh Bình, TP Hải Dương<BR/>Họ tên bố:   <BR/>Họ tên mẹ:<BR/>Can tội: Lừa đảo chiếm đoạt tài sản, tổ chức người trốn đi nước ngoài<BR/>Quyết định truy nã số: 02<BR/>Ngày tháng năm ra quyết định: 10/1/2001<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14403" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14401" title="Truy nã đối tượng Lý Tống">
            				<img class="img160" src="/image/images?img_id=144011285092866988" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14401"><b>Truy nã đối tượng Lý Tống</b></a>
&nbsp;<span color="gray">(21/09/2010)</span>
<div class="fon5">
<div><P>Họ và tên đối tượng: Lý Tống</P><DIV>Năm sinh: 1/9/1948</DIV><DIV>Nơi ĐKTT: Quốc tịch Mỹ</DIV><DIV>Chỗ ở trước khi trốn:</DIV><DIV>Họ tên bố: <SPAN class="Apple-tab-span" style="white-space:pre">		</SPAN></DIV><DIV>Họ tên mẹ:</DIV><DIV>Can tội: Lái máy bay từ Thái Lan xâm phạm vùng trời Việt Nam và rải truyền đơn có nội dung tuyên truyền chống Nhà nước Xã hội chủ nghĩa Việt Nam</DIV><DIV>Quyết định truy nã số: 277</DIV><DIV>Ngày tháng năm ra quyết định: 28/12/2000</DIV><DIV>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</DIV></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14401" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1 clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14339" title="Truy nã đối tượng Nguyễn Trường Giang">
            				<img class="img160" src="/image/images?img_id=143391284507145891" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14339"><b>Truy nã đối tượng Nguyễn Trường Giang</b></a>
&nbsp;<span color="gray">(14/09/2010)</span>
<div class="fon5">
<div><P> <BR/></P><P>Họ và tên đối tượng: Nguyễn Trường Giang<BR/>Năm sinh: 1/8/1948<BR/>Nơi ĐKTT: 40/58 Phan Chu Trinh, P24, Bình Thạnh, TP Hồ Chí Minh<BR/>Chỗ ở trước khi trốn: Chưa rõ<BR/>Họ tên bố: Chưa rõ<BR/>Họ tên mẹ: Chưa rõ<BR/>Can tội: Trộm cắp tài sản<BR/>Quyết định truy nã số: 192<BR/>Ngày tháng năm ra quyết định: 15/10/2001<BR/>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</P><DIV> </DIV><P/></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14339" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<div class='group1_last clearfix'>
            		<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14338" title="Truy nã đối tượng Trần Quang Vũ">
            				<img class="img160" src="/image/images?img_id=143381284506809711" />
            			</a>
            	
            		
            <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14338"><b>Truy nã đối tượng Trần Quang Vũ</b></a>
&nbsp;<span color="gray">(14/09/2010)</span>
<div class="fon5">
<div><P> </P><DIV>Họ và tên đối tượng: Trần Quang Vũ</DIV><DIV>Năm sinh: 1/1/1968</DIV><DIV>Nơi ĐKTT: 431 Hai Bà Trưng, Phường 8, Quận 3, TP Hồ Chí Minh</DIV><DIV>Chỗ ở trước khi trốn: 431 Hai Bà Trưng, Phường 8, Quận 3, TP Hồ Chí Minh</DIV><DIV>Họ tên bố: Chưa rõ</DIV><DIV>Họ tên mẹ: Chưa rõ</DIV><DIV>Can tội: Buôn lậu</DIV><DIV>Quyết định truy nã số: 145</DIV><DIV>Ngày tháng năm ra quyết định: 10/1997</DIV><DIV>Đơn vị ra quyết định: Cơ quan ANĐT - BCA</DIV></div>
</div>	
            </div>
            	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14338" class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>
</div>
<p> </p>
<div class="othernews">
<div class="othernews">
<p><b>Các tin khác</b></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14337">Truy nã đối tượng Trần Quang Hữu</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14336">Truy nã đối tượng Nguyễn Thị Hương</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14335">Truy nã đối tượng Cao Thị Bắc</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14334">Truy nã đối tượng Trần Thị Hằng</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14333">Truy nã đối tượng Nguyễn Thị Thanh</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14332">Truy nã đối tượng Lương Thị Hảo</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14331">Truy nã đối tượng Nguyễn Văn Thịnh</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14330">Truy nã đối tượng Phạm Thị Thoa</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14329">Truy nã đối tượng Nguyễn Xuân Thắng</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
<p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/14328">Truy nã đối tượng Bế Thị Dưng</a>&nbsp;
  <span style="color: rgb(144, 144, 144);">(14/09/2010)</span></p>
  
<br/>
<table width="100%">
<tr>
<td align="left">
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm(1,'');" >&lsaquo;&lsaquo; Trang &#273;&#7847;u</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('30','');" >&nbsp;|&nbsp;Trang tr&#432;&#7899;c</a></span>
<span>|</span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('32','');" >Trang ti&#7871;p &nbsp|&nbsp;</a></span>															
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('35','');" >Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>	
</td>
<td align="right">
T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang. 
</td>	
</tr>	
</table>	
                                    	<br/>	
                                    				  
<div style="background:#FFF4E1; padding:5px">
<div class="xemtheongay-title">
Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;
</div>
<div class="xemtheongay-date">	
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
<option value="1" selected>1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" selected>10</option>
<option value="11" >11</option>
<option value="12" >12</option>
</select>
<select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
<option value="2005" >2005</option>
<option value="2006" >2006</option>
<option value="2007" >2007</option>
<option value="2008" >2008</option>
<option value="2009" >2009</option>
<option value="2010" >2010</option>
<option value="2011" >2011</option>
<option value="2012" selected>2012</option>
<option value="2013" >2013</option>
<option value="2014" >2014</option>
<option value="2015" >2015</option>
<option value="2016" >2016</option>
<option value="2017" >2017</option>
</select>
</div>	
<div class="xemtheongay-but">
&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>
</div>	
</div>
</div>
</div>											                 																				
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script language ="javascript">		
function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page,cmd){
var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
if(page != ''){
myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
}
if(cmd == 'search'){
myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value=cmd;
}
myform.action="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015";
myform.submit();
}
</script>																
</div>
</div>
<script type="text/javascript">
Liferay.Portlet.onLoad(
{
canEditTitle: false,
columnPos: 0,
isStatic: 'end',
namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
portletId: 'vcmsviewcontent_INSTANCE_GbkG'
}
);
</script>
</div>
