<div id="p_p_id_vcmsviewcontent_INSTANCE_GbkG_" class="portlet-boundary portlet-boundary_vcmsviewcontent_  ">
<a name="p_vcmsviewcontent_INSTANCE_GbkG"></a>

  <div class="portlet-borderless-container"
  style="">
    <div>
      <style type="text/css">
        .text_none2 {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: bold;
          color: #3175b9;
          text-decoration: none;
          line-height: 16px;
        }
        .text_detail {
          font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: normal;
          color: #3175b9;
          text-decoration: none;
          line-height: normal;
          padding-top: 5px;
        }
        /** Popup **/
        .box_guiban {
          position:fixed;
          _position:absolute;
          top:30px;
          left:27%;
          width:439px;
          height:auto;
          padding:8px;
          background:#ffffff;
          border:3px solid #4A4A4A;
          z-index:10;
          display:none;
          _margin-top: expression(0 - parseInt(this.offsetHeight / 500) +(TBWindowMargin=document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) +'px');
        }
        .error_display {
          font-weight:bold;
          color:#FF0000;
        }
        .tit_guiban {
          background:url(/html/portlet/vcmsviewcontent/images/tit_guiban.gif) 0 0 repeat-x;
          height:23px;
          padding:4px 0 0 10px;
          font-size:16px;
          font-family:arial;
          margin:0 0 15px 0;
          vertical-align:bottom;
          font-weight:bold;
          color:WHITE;
        }
        .overlay {
          display:none;
          width:100%;
          _width:1500px;
          height:100%;
          _height:2500px;
          position:fixed;
          _position:absolute;
          top:0;
          left:0;
          background:#000;
          filter:alpha(opacity=50);
          -moz-opacity:.50;
          opacity:.50;
          z-index:5;
          _overflow:hidden;
        }
        .sign_warning {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 8px no-repeat #fef8f8;
          border:#fadcdc solid 1px;
          width:82%;
          padding:8px;
          padding-left:60px;
          margin-bottom:10px;
          font-size:13px;
          display:none;
          line-height:20px;
        }
        .error {
          background:url(/html/portlet/vcmsviewcontent/images/warning_small.gif) 70px no-repeat;
          width:82%;
          padding:8px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:13px;
          color:#FF0000;
          width:200px;
        }
        .sign_success {
          background:url(/html/portlet/vcmsviewcontent/images/done.png) 8px no-repeat;
          width:60%;
          padding:23px;
          padding-left:120px;
          margin-bottom:10px;
          font-size:16px;
          color:#3399FF;
          font-weight:bold;
          display:none;
          line-height:20px;
        }
        .close_popup {
          padding:23px;
          display:none;
          padding-left:40%;
        }
        .boder {
          border: 1px solid #6ac0f6;
        }
        .bottom {
          border:1px solid #DC9373;
        }
        .navnormal {
          background:#FAEFD8 none repeat scroll 0 0;
          font-size:10px;
          padding:5px 0;
          text-align:center;
        }
        .pnlTopView {
          border-color:#CCCCCC #CCCCCC -moz-use-text-color;
          border-style:solid solid none;
          border-width:1px 1px 0;
          margin-bottom:10px;
        }
        .pnlTopView .pnl-title {
          border-bottom:1px solid #CCCCCC;
          font-weight:bold;
          padding:4px;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-title a {
          color:#CD2027;
          text-transform:uppercase;
        }
        .pnlTopView .pnl-content div.t {
          border-bottom:1px solid #CCCCCC;
          padding:6px 6px 6px 24px;
        }
        .pnlTopView .pnl-content div.t1 {
          background-position:0 2px;
        }
        .pnlTopView .pnl-content div.t2 {
          background-position:0 -38px;
        }
        .pnlTopView .pnl-content div.t3 {
          background-position:0 -78px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -118px;
        }
        .pnlTopView .pnl-content div.t4 {
          background-position:0 -158px;
        }
        #footer_print {
          background:url(/html/portlet/vcmsviewcontent/images/footer.gif) repeat-y scroll center top transparent;
          width:620px;
        }
        .copyright {
          font-family:arial;
          font-size:11px;
          color:#FFFFFF;
          line-height:15px;
          padding:10px 10px 10px;
        }
      </style>
      <form method="post" name="_vcmsviewcontent_INSTANCE_GbkG_fm">
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_cmd" value=""
        />
        <input type="hidden" name="_vcmsviewcontent_INSTANCE_GbkG_page" value="1"
        />
        <div class="ctn-center clearfix">
          <div class="line-top">
            <div class="line-bottom">
              <div class="line-left">
                <div class="line-right">
                  <div class="goc-left-top">
                    <div class="goc-right-top">
                      <div class="goc-left-bottom">
                        <div class="goc-right-bottom">
                          <div class="ct">
                            <ul class="title" style="margin:0px;">
                              <li>
                                <h6><a href="#">Đối tượng truy nã</a></h6>
                              </li>
                            </ul>
                            <div class="smallpage">
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19152"
                                title="Truy nã đối tượng Lê Thị Bé Em">
            				<img class="img160" src="/image/images?img_id=191521338887024092" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19152"><b>Truy nã đối tượng Lê Thị Bé Em</b></a>
&nbsp;
                                  <span
                                  color="gray">(05/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lê Thị Bé Em
                                        <br />Năm sinh: 1960
                                        <br />Nơi ĐKTT: 414/27, Khóm 1, TT Long Hồ, huyện Long Hồ, tỉnh Vĩnh Long
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Lê Trung Hưng
                                        <br />Họ và tên mẹ: Đỗ Thị Gấm
                                        <br />Can tội: Lừa đảo chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 01
                                        <br />Ngày tháng năm ra quyết định: 23/3/2009
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh&nbsp; Vĩnh Long
                                        <br />Đặc điểm nhận dạng: Sẹo thẳng 0,5cm cách 4cm trên trước đầu lông mày trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19152"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19153"
                                title="Truy nã đối tượng Nguyễn Thanh Hồng">
            				<img class="img160" src="/image/images?img_id=191531338887169671" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19153"><b>Truy nã đối tượng Nguyễn Thanh Hồng</b></a>
&nbsp;
                                  <span
                                  color="gray">(05/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Nguyễn Thanh Hồng
                                        <br />Năm sinh: 1983
                                        <br />Nơi ĐKTT: Ấp An Lộc, TT Hồng&nbsp; Ngự, huyện Hồng Ngự, tỉnh Đồng&nbsp;
                                        Tháp
                                        <br />Chỗ ở trước khi trốn: Ấp Long Hòa 2, xã Long Điền, huyện Chợ Mới, tỉnh&nbsp;
                                        An Giang
                                        <br />Họ và tên bố: Nguyễn Văn Đạt
                                        <br />Họ và tên mẹ: Trần Thị Sậu
                                        <br />Can tội: Lừa đảo chiếm đoạt tài sản
                                        <br />Quyết định truy nã số: 03
                                        <br />Ngày tháng năm ra quyết định: 17/06/2009
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh&nbsp; Vĩnh Long</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19153"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19141"
                                title="Truy nã đối tượng Lê Xuân Ba">
            				<img class="img160" src="/image/images?img_id=191411338517074686" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19141"><b>Truy nã đối tượng Lê Xuân Ba</b></a>
&nbsp;
                                  <span
                                  color="gray">(01/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lê Xuân Ba
                                        <br />Năm sinh: 1985
                                        <br />Nơi ĐKTT: Thôn Tuân Cáo, Ninh Thắng, Hoa Lư, tỉnh Ninh Bình
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Lê Hồng Cẩm
                                        <br />Họ và tên mẹ: Vũ Thị Lưu
                                        <br />Can tội: Cướp tài sản
                                        <br />Quyết định truy nã số: 02
                                        <br />Ngày tháng năm ra quyết định: 5/8/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Ninh Bình
                                        <br />Đặc điểm nhận dạng: Sẹo chấm ngay đuôi lông mày phải</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19141"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19140"
                                title="Truy nã đối tượng Trần Văn Tiến">
            				<img class="img160" src="/image/images?img_id=191401338516871059" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19140"><b>Truy nã đối tượng Trần Văn Tiến</b></a>
&nbsp;
                                  <span
                                  color="gray">(01/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Trần Văn Tiến
                                        <br />Năm sinh: 1991
                                        <br />Nơi ĐKTT: Đội 3, Thanh Nga, xã Hoằng Trinh, huyện Hoằng Hóa, tỉnh Thanh
                                        Hóa
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Trần Văn Dũng
                                        <br />Họ và tên mẹ: Vũ Thị Thuận
                                        <br />Can tội: Chứa chấp, tiêu thụ tài sản do người khác phạm tội mà có
                                        <br />Quyết định truy nã số: 05
                                        <br />Ngày tháng năm ra quyết định: 16/8/2009
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TP Ninh Bình, tỉnh Ninh Bình
                                        <br
                                        />Đặc điểm nhận dạng: Nốt ruồi C 3cm dưới đầu mắt trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19140"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19142"
                                title="Truy nã đối tượng Trần Văn Cương">
            				<img class="img160" src="/image/images?img_id=191421338517209204" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19142"><b>Truy nã đối tượng Trần Văn Cương</b></a>
&nbsp;
                                  <span
                                  color="gray">(01/06/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Trần Văn Cương
                                        <br />Năm sinh: 1964
                                        <br />Nơi ĐKTT: Thôn Bản Tàm, xã Sơn Phú, huyện Na Hang, tỉnh Tuyên Quang
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Trần Văn Chúc
                                        <br />Họ và tên mẹ: Vũ Thị Nhung
                                        <br />Can tội: Giết người
                                        <br />Quyết định truy nã số: 37
                                        <br />Ngày tháng năm ra quyết định: 28/4/1992
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh&nbsp; Tuyên Quang
                                        <br />Đặc điểm nhận dạng: Nốt ruồi cách 2 cm trên sau cánh mũi phải</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19142"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19128"
                                title="Truy nã đối tượng Đinh Xuân Nam">
            				<img class="img160" src="/image/images?img_id=191281337936863870" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19128"><b>Truy nã đối tượng Đinh Xuân Nam</b></a>
&nbsp;
                                  <span
                                  color="gray">(29/05/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Đinh Xuân Nam
                                        <br />Năm sinh: 1984
                                        <br />Nơi ĐKTT: Thôn Quỳnh Sơn, xã Sơn Hà, huyện Nho Quan, tỉnh Ninh Bình
                                        <br
                                        />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Đinh Xuân Tình
                                        <br />Họ và tên mẹ: Phạm Thị Ký
                                        <br />Can tội: Đánh bạc
                                        <br />Quyết định truy nã số: 02
                                        <br />Ngày tháng năm ra quyết định: 31/5/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an huyện Nho Quan, tỉnh Ninh Bình</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19128"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19130"
                                title="Truy nã đối tượng Lê Xuân Định">
            				<img class="img160" src="/image/images?img_id=191301337937179255" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19130"><b>Truy nã đối tượng Lê Xuân Định</b></a>
&nbsp;
                                  <span
                                  color="gray">(25/05/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Lê Xuân Định
                                        <br />Năm sinh: 1973
                                        <br />Nơi ĐKTT: Thôn 2, Thiệu Thịnh, Thiệu Hóa, tỉnh Thanh Hóa
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Lê Văn Sỹ
                                        <br />Họ và tên mẹ: Nguyễn Thị Ái
                                        <br />Can tội: Cưỡng đoạt tài sản
                                        <br />Quyết định truy nã số: 03
                                        <br />Ngày tháng năm ra quyết định: 05/9/2011
                                        <br />Đơn vị ra quyết định: Cơ quan&nbsp; CSĐT Công an tỉnh Ninh Bình
                                        <br />Đặc điểm nhận dạng: Sẹo dài 2cm trên trước đầu lông mày phải</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19130"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19129"
                                title="Truy nã đối tượng Đỗ Ngọc Huy">
            				<img class="img160" src="/image/images?img_id=191291337937034940" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19129"><b>Truy nã đối tượng Đỗ Ngọc Huy</b></a>
&nbsp;
                                  <span
                                  color="gray">(25/05/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Đỗ Ngọc Huy
                                        <br />Năm sinh: 1986
                                        <br />Nơi ĐKTT: Tổ 12, phường Nam Sơn, Thị xã Tam Điệp, tỉnh Ninh Bình
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Đỗ Văn Chương
                                        <br />Họ và tên mẹ: Vũ Thị Yến
                                        <br />Can tội: Cố ý gây thương tích
                                        <br />Quyết định truy nã số: 07
                                        <br />Ngày tháng năm ra quyết định: 05/9/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TX Tam Điệp, tỉnh Ninh Bình
                                        <br
                                        />Đặc điểm nhận dạng: Chiều cao: 1m62; Sống mũi: lõm; Dái tai: vuông
                                        <br
                                        />Đặc điểm khác: Sẹo không rõ hình dài 1,5cm ngay đuôi lông mày phải</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19129"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1 clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19044"
                                title="Truy nã đối tượng Hoàng Bình Luận">
            				<img class="img160" src="/image/images?img_id=190441336724150207" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19044"><b>Truy nã đối tượng Hoàng Bình Luận</b></a>
&nbsp;
                                  <span
                                  color="gray">(11/05/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Hoàng Bình Luận
                                        <br />Năm sinh: 1990
                                        <br />Nơi ĐKTT: Xóm 2, xã Mai Sơn, huyện Yên Mô, tỉnh Ninh Bình
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Hoàng Tiến Lực
                                        <br />Họ và tên mẹ: Mai Thị Tơ
                                        <br />Can tội: Cố ý gây thương tích
                                        <br />Quyết định truy nã số: 05
                                        <br />Ngày tháng năm ra quyết định: 11/6/2011
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an TX Tam Điệp, tỉnh Ninh Bình</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19044"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <div class='group1_last clearfix'>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19041"
                                title="Truy nã đối tượng Vũ Thị Vinh">
            				<img class="img160" src="/image/images?img_id=190411336723707510" />
            			</a>

                                <div>
<a class="fon6" href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19041"><b>Truy nã đối tượng Vũ Thị Vinh</b></a>
&nbsp;
                                  <span
                                  color="gray">(11/05/2012)</span>
                                    <div class="fon5">
                                      <p>Họ và tên đối tượng: Vũ Thị Vinh
                                        <br />Năm sinh: 1952
                                        <br />Nơi ĐKTT: Phương Đình, Ninh Sơn, huyện Hoa Lư, tỉnh Ninh Bình
                                        <br />Chỗ ở trước khi trốn: Như trên
                                        <br />Họ và tên bố: Vũ Sinh&nbsp; Trường
                                        <br />Họ và tên mẹ: Lưu Thị Đoan
                                        <br />Can tội: Vô ý gây chết người
                                        <br />Quyết định truy nã số: 16
                                        <br />Ngày tháng năm ra quyết định: 24/6/1992
                                        <br />Đơn vị ra quyết định: Cơ quan CSĐT Công an tỉnh Ninh Bình
                                        <br />Đặc điểm nhận dạng: Nốt ruồi C 2cm trên trước mép trái</p>
                                    </div>
                                </div>	<a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19041"
                                class="articleDetail">Xem chi ti&#7871;t&nbsp;&raquo;</a>

                              </div>
                              <p></p>
                              <div class="othernews">
                                <div class="othernews">
                                  <p><b>Các tin khác</b>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19043">Truy nã đối tượng Nguyễn Quốc Nam</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(11/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19042">Truy nã đối tượng Phạm Thị Dung</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(11/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19031">Truy nã đối tượng Phạm Văn Hưởng</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(08/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19028">Truy nã đối tượng Đinh Văn Luyện</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(08/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19021">Truy nã đối tượng Trần Thị Thắm</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(02/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19019">Truy nã đối tượng Nguyễn Ngọc Quy</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(02/05/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19010">Truy nã đối tượng Lê Ánh Nguyệt</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(25/04/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19009">Truy nã đối tượng Nguyễn Bá Nam</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(25/04/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/19008">Truy nã đối tượng Trần Văn Nghĩa</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(25/04/2012)</span>
                                  </p>
                                  <p>&bull; <a href="http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015/18955">Truy nã đối tượng Nguyễn Ngọc Văn</a>&nbsp;
                                    <span
                                    style="color: rgb(144, 144, 144);">(16/04/2012)</span>
                                  </p>
                                  <br/>
                                  <table width="100%">
                                    <tr>
                                      <td align="left">
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm(1,'');" >&lsaquo;&lsaquo; Trang &#273;&#7847;u</a></span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('3','');" >&nbsp;|&nbsp;Trang tr&#432;&#7899;c</a></span>

<span>|</span>

<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('5','');" >Trang ti&#7871;p &nbsp|&nbsp;</a></span>
<span><a href="#" class="next_article" onclick="_vcmsviewcontent_INSTANCE_GbkG_submitForm('35','');" >Trang cu&#7889;i &rsaquo;&rsaquo;</a></span>
                                      </td>
                                      <td align="right">T&#7893;ng s&#7889; 53 b&#224;i vi&#7871;t&nbsp;/&nbsp;6 trang.</td>
                                    </tr>
                                  </table>
                                  <br/>
                                  <div style="background:#FFF4E1; padding:5px">
                                    <div class="xemtheongay-title">Xem b&#224;i vi&#7871;t theo ng&#224;y&nbsp;</div>
                                    <div class="xemtheongay-date">
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishDay">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishMonth">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10" selected>10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                      </select>
                                      <select class="day" name="_vcmsviewcontent_INSTANCE_GbkG_publishYear">
                                        <option value="2005">2005</option>
                                        <option value="2006">2006</option>
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012" selected>2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                      </select>
                                    </div>
                                    <div class="xemtheongay-but">&nbsp;<a href="#" onClick="javascript:_vcmsviewcontent_INSTANCE_GbkG_submitForm('','search');">
<img src="/PL-theme/images/PL_images/xem.gif" style="cursor:pointer;">
</a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <script language="javascript">
        function _vcmsviewcontent_INSTANCE_GbkG_submitForm(page, cmd) {
          var myform = document._vcmsviewcontent_INSTANCE_GbkG_fm;
          if (page != '') {
            myform._vcmsviewcontent_INSTANCE_GbkG_page.value = page;
          }
          if (cmd == 'search') {
            myform._vcmsviewcontent_INSTANCE_GbkG_cmd.value = cmd;
          }
          myform.action = "http://mps.gov.vn/web/guest/ct_trangchu/-/vcmsviewcontent/GbkG/2015/2015";
          myform.submit();
        }
      </script>
    </div>
  </div>
  <script type="text/javascript">
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: 'end',
      namespacedId: 'p_p_id_vcmsviewcontent_INSTANCE_GbkG_',
      portletId: 'vcmsviewcontent_INSTANCE_GbkG'
    });
  </script>
</div>